<!doctype html>
<html>
<head>
	<title>item catalog</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<p>{{item.description}}</p>
	<p><a href="{{url_for('deleteItem', category_name=category_name, item_name=item.name)}}">delete</a></p>
	<p><a href="{{url_for('editItem', category_name=category_name, item_name=item.name)}}">edit</a></p>
	<a href="{{url_for('showAllCategories')}}">back to main page</a>
</body>
</html>